.navigation-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background: #ffffff;
	animation: .5s slideInDown both;
}
.mean-container {
	.mean-bar {
		background: transparent;
	}
	.mean-nav {
		background: #0154F8;
		margin-top: 45px;
		max-height: 300px;
		overflow: auto;
		ul {
			li {
				a {
					text-transform: capitalize;
				}
				a.mean-expand {
					height: initial;
					font-size: 16px !important;
				}
			}
		}
	}
}
.meanmenu-reveal {
	transition: none;
}